{% set interfaces = {} %}
{% set device_counts = {} %} {# dicionário para contar interfaces por device #}
{# Loop sobre todas as interfaces no input #}
{% for termination in nb_interfaces.json.results %}
  {% set device_name = termination.termination.device.name %}
  {% set interface_name = termination.termination.name %}
  {% set interface_number = interface_name.split('/')[-1] %}
  {% set key = 'INTERFACE' + interface_number %}
  {# Inicializa o dicionário da interface se não existir #}
  {% if key not in interfaces %}
    {% set _ = interfaces.update({key: {}}) %}
  {% endif %}
  {# Adiciona o device com interface #}
  {% set _ = interfaces[key].update({device_name: interface_name}) %}
  {# Conta interfaces por device #}
  {% if device_name not in device_counts %}
    {% set _ = device_counts.update({device_name: 1}) %}
  {% else %}
    {% set _ = device_counts.update({device_name: device_counts[device_name] + 1}) %}
  {% endif %}
{% endfor %}

{# Imprime as interfaces por INTERFACE# e device #}
{% for iface_key, devices in interfaces.items() %}
{{ iface_key }}:
{% for device, iface in devices.items() %}
  {{ device }}: "{{ iface }}"
{% endfor %}

{% endfor %}

{# Imprime a contagem total de interfaces por device #}
interfaces_count:
{% for device, count in device_counts.items() %}
  {{ device }}: {{ count }}
{% endfor %}


